* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
}

/* Navbar */
.nav {
  height: 110px;
  background-color: #FFF7ED;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 26px;
}

.logo {
  font-weight: 900;
  font-size: 25.35px;
  margin: 0;
  color: #000;
  cursor: pointer;
}

.logo-link {
  text-decoration: none;
}

.nav-link {
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: #4D4D4D;
  margin-left: 20px;
  cursor: pointer;
}

.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: .75rem 1.375rem;
  color: initial;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.link-button:hover {
  transform: translate(1px, 1px);
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}

/* Home Page */
.home-main {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./img/home-hero.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 350px;
  color: white;
  padding: 45px 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  color: white;
}

.home-content {
  position: relative;
  z-index: 2;
  padding: 45px 23px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  font-size: 36px;
  font-weight: 800;
  line-height: 42px;
  margin-bottom: 16px;
  margin-top: 0;
}

.hero-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 32px;
  max-width: 95%;
}

.cta-btn {
  background-color: #FF8C38;
  color: white;
  border: none;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color .2s;
}

.cta-btn:hover {
  background-color: #E67E2C;
}

/* About Page */
.about-hero-image {
  max-width: 100%;
}

.about-page-content {
  padding-inline: 23px;
  color: #161616;
  margin-bottom: 55px;
}

.about-page-content h1 {
  line-height: 38px;
}

.about-page-content p {
  line-height: 22px;
}

.about-page-cta {
  background-color: #FFCC8D;
  color: #161616;
  padding-inline: 32px;
  padding-bottom: 32px;
  margin-inline: 27px;
  margin-bottom: 32px;
  border-radius: 5px;
}

.about-page-cta h2 {
  margin: 0;
  padding-block: 37px;
}

.about-page-cta .link-button {
  background-color: #161616;
  color: white;
  border-radius: 10px;
}

.footer {
  position: relative;
  z-index: 2;
  background-color: #252525;
  color: #AAA;
  text-align: center;
  padding: 24px;
  font-size: 14px;
  font-weight: 500;
}